body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New', 
    monospace; /* Menambahkan tanda kutip di sekitar 'Source Code Pro' */
  font-size: 1em; /* Menambahkan ukuran font untuk konsistensi */
  background-color: rgba(0, 0, 0, 0.05); /* Menambahkan latar belakang ringan untuk membedakan kode */
  padding: 0.2em 0.4em; /* Menambahkan padding untuk estetika */
  border-radius: 3px; /* Menambahkan border-radius untuk sudut yang lebih halus */
}
